/************************************************************/
/* Layout and Panel
/************************************************************/
.admin-project-attributes-layout-container {
    position: absolute;
    width: calc(100% - 4px) !important;
}
.admin-project-attributes-panel-top {
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
    height: 310px;
}
.admin-project-attributes-panel-btm {
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
}
.admin-project-attributes-panel {
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 100%;
    width: 100%;
}
/************************************************************/
/* Attributes
/************************************************************/
.project-attribute-row {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
}
.project-attribute-label {
    height: 25px;
    width: 100%;
    text-align: left;
    color: dimgray;
}
.project-attribute-label-when-editing {
    padding-right: 85px;
    padding-top: 5px;
    padding-left: 5px;
}
.project-attribute-value {
    height: 25px;
    width: 100%;
    text-align: right;
    font-weight: bold;
}
.project-attribute-value-when-editing {
    padding-right: 85px;
}
.project-attribute-hide-delete-button {
    margin-top: -43px;
    margin-right: 10px;
    position: relative;
    float: right;
    text-align: right;
    visibility: hidden;
}
.project-attribute-show-delete-button {
    visibility: visible;
}