/*Behavior*/

@media (max-width: 768px) {

}


/*Style*/
#projectMap{
    position: relative;
    height: 100%;
    overflow: hidden;
    top: 0;
}

.projectMapWithSummary{
    height: calc(100% - 205px) !important;
}

.projectMapNoSummary{
    height: 100%;
    /*-moz-transition: height 1s ease;*/
    /*-webkit-transition: height 1s ease;*/
    /*-o-transition: height 1s ease;*/
    /*transition: height 1s ease;*/
}

.projectMapSummaryHidden{
    height: 0px !important;
    overflow: hidden;
    /*-moz-transition: height 1s ease;*/
    /*-webkit-transition: height 1s ease;*/
    /*-o-transition: height 1s ease;*/
    /*transition: height 1s ease;*/
}

.projectMapSummaryVisible{
    height: 210px !important;
    overflow: visible !important;
}

/************************************************************/
/* KPI Legend
/************************************************************/
.map-kpi-legend {
    background-color: rgba(255,255,255,0.7);
    border: 2px solid #3e6b88;
    border-radius: 4px;
}

.kpi-legend-title-container {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
}

.kpi-legend-title {
    display: table-cell;
    vertical-align: middle;
}

.kpi-legend-item-container {
    width: 100%;
    display: table;
    text-align: center;
}

.kpi-legend-item {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
}

/************************************************************/
/* Leaflet Overrides
/************************************************************/

.leaflet-top  {
    margin-top: 75px !important;
}

.leaflet-clickable {
    cursor: pointer !important;
}