/************************************************************/
/* Also uses app-panel-filtered-projects.css
/************************************************************/
.filtered-project-anchor, a:hover {
    text-decoration: none;
    color: #000000;
}
.panel-filtered-projects-selected {
    /*padding: 1px !important;*/
    /*background-color: #d3d3d3 !important;*/
    background-color: white !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    margin-left: 7px !important;
    border-radius: 4px !important;
    /*border: 1px solid black;*/
    /*-moz-box-shadow: 0px 0px 10px 1px #fff;*/
    /*-webkit-box-shadow: 0px 0px 10px 1px #fff;*/
    /*box-shadow: 0px 0px 10px 1px #fff;*/
}
.panel-filtered-projects-unselected {
    /*margin-bottom: 1px !important;*/
    /*padding: 1px !important;*/
    /*margin-bottom: 2px;*/
    background-color: white;
}
/************************************************************/
/* Heading
/************************************************************/
.filtered-project-title-container {
    display: table;
    text-align: left;
}
.filtered-project-icon {
    display: table-cell;
    text-align: center;
    padding-top: 14px;
}
.filtered-project-display-name {
    padding-top: 12px;
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.filtered-project-subtitle-container {
    display: table;
    text-align: left;
    margin-left: 20px;
}
.filtered-project-current-budget {
    display: table-cell;
    padding-top: 2px;
    vertical-align: top;
    font-size: 12px;
}
.filtered-project-indicator-icon-container {
    display: table;
    text-align: right;
    margin-top: 5px;
}
.filtered-project-cpi-container {
    display: table;
    text-align: left;
    margin-top: 5px;
}
.filtered-project-cpi {
    display: table-cell;
    vertical-align: middle;
}
.filtered-project-spi-container {
    display: table;
    text-align: left;
    margin-top: -8px;
}
.filtered-project-spi {
    display: table-cell;
    vertical-align: middle;
}
/************************************************************/
/* Body
/************************************************************/
.filtered-project-metric-label-container {
    display: table;
    text-align: center;
}
.filtered-project-metric-label {
    display: table-cell;
    vertical-align: middle;
    color: dimgray;
    font-size: 12px;
}
.filtered-project-metric-value-container {
    display: table;
    text-align: center;
}
.filtered-project-planned-value {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}
.filtered-project-actual-cost {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}
.filtered-project-image-container {
    display: table;
    text-align: center;
    padding: 10px 0 10px 0;
}
.filtered-project-image {
    display: table-cell;
    vertical-align: middle;
}
.filtered-project-description-container {
    display: table;
    text-align: left;
    padding: 10px;
}
.filtered-project-description {
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
}