/************************************************************/
/* Standard Colors / App / Panels
/************************************************************/

.clr-default{
    color: #969696
}

.clr-default-light{
    color: #d3d3d3;
}

.clr-default-very-light{
    color: #ffffff;
}

.clr-default-bright{
    color: #4d4c4c;
}

.clr-bkgrnd-default{
    background-color: #4d4c4c !important;
}

.clr-bkgrnd-default-light{
    background-color: #d3d3d3;
}

.clr-bkgrnd-default-bright{
    background-color: #000000;
}

.clr-data-date{
    color: #ff0000;
}

/************************************************************/
/* Budget Colors
/************************************************************/

.clr-budget-cls-1{
    /*color: #2A2AFF;*/
    color: #0C3B7D;
}

.clr-budget-cls-2{
    /*color: #5454FF;*/
    color: #27579C;
}
.clr-budget-cls-3{
    /*color: #7E7EFF;*/
    color: #4A79BA;
}
.clr-budget-cls-4{
    /*color: #A8A8FF;*/
    color: #7AA0D6;
}
.clr-budget-cls-5{
    /*color: #D2D2FF;*/
    color: #A1BEE6;
}

/************************************************************/
/* Standard Colors / Backgrounds / Borders
/************************************************************/

/******************** Bad ********************/
.clr-bad{
    /*color: #963d3e;*/
    color: #a94442 !important;
}

.clr-bad-light{
    /*color: #B98084;*/
    color: #ebccd1 !important;
}

.clr-bad-very-light{
    color: #f2dede !important;
}

.clr-bad-bright{
    color: #ff0000 !important;
}

/***** Bad (background) *****/
.clr-bkgrnd-bad{
     /*background-color: #963d3e;*/
    background-color: #a94442 !important;
}

.clr-bkgrnd-bad-light{
    /*background-color: #B98084;*/
    background-color: #ebccd1 !important;
}

.clr-bkgrnd-bad-very-light{
    background-color: #f2dede !important;
}

.clr-bkgrnd-bad-bright{
    background-color: #ff0000 !important;
}

/***** Bad (border) *****/
.clr-border-bad{
    border-color: #a94442 !important;
}

.clr-border-bad-light{
    border-color: #ebccd1 !important;
}

.clr-border-bad-very-light{
    border-color: #f2dede !important;
}

.clr-border-bad-bright{
    border-color: #ff0000 !important;
}

/******************** Good ********************/
.clr-good{
    /*color: #537b54;*/
    color: #3c763d !important;
}

.clr-good-light{
    color: #d6e9c6 !important;
}

.clr-good-very-light{
    color: #dff0d8 !important;
}

.clr-good-bright{
    color: green !important;
}

/***** Good (background) *****/
.clr-bkgrnd-good{
    /*background-color: #537b54;*/
    background-color: #3c763d !important;
}

.clr-bkgrnd-good-light{
    background-color: #d6e9c6 !important;
}

.clr-bkgrnd-good-very-light{
    background-color: #dff0d8 !important;
}

.clr-bkgrnd-good-bright{
    background-color: green !important;
}

/***** Good (border) *****/
.clr-border-good{
    border-color: #3c763d !important;
}

.clr-border-good-light{
    border-color: #d6e9c6 !important;
}

.clr-border-good-very-light{
    border-color: #dff0d8 !important;
}

.clr-border-good-bright{
    border-color: green !important;
}

/******************** Warning ********************/
.clr-warning{
    color: #DAA638 !important;
}

.clr-warning-light{
    color: #FFFF99 !important;
}

.clr-warning-very-light{
    color: #FFFFCC !important;
}

.clr-warning-bright{
    color: #FFFF00 !important;
}

/***** Warning (background) *****/
.clr-bkgrnd-warning{
    background-color: #DAA638 !important;
}

.clr-bkgrnd-warning-light{
    background-color: #FFFF99 !important;
}

.clr-bkgrnd-warning-very-light{
    background-color: #FFFFCC !important;
}

.clr-bkgrnd-warning-bright{
    background-color: #FFFF00 !important;
}

/***** Warning (border) *****/
.clr-border-warning{
    border-color: #DAA638 !important;
}

.clr-border-warning-light{
    border-color: #fff66d !important;
}

.clr-border-warning-very-light{
    border-color: #FFFFCC !important;
}

.clr-border-warning-bright{
    border-color: #FFFF00 !important;
}

/******************** Neutral ********************/
.clr-neutral{
    color: #757575;
}

.clr-neutral-light{
    color: #969696;
}

.clr-neutral-very-light{
    color: #eeeeee;
}

.clr-neutral-bright{
    color: #4A4A4A;
}

/***** Neutral (background) *****/
.clr-bkgrnd-neutral{
    background-color: #757575;
}

.clr-bkgrnd-neutral-light{
    background-color: #969696;
}

.clr-bkgrnd-neutral-very-light{
    background-color: #eeeeee;
}

.clr-bkgrnd-neutral-bright{
    background-color: #4A4A4A;
}

/***** Neutral (border) *****/
.clr-border-neutral{
    border-color: #757575;
}

.clr-border-neutral-light{
    border-color: #cccccc;
}

.clr-border-neutral-very-light{
    border-color: #eeeeee;
}

.clr-border-neutral-bright{
    border-color: #4A4A4A;
}

.clr-border-white{
    border-color: white;
}
/************************************************************/
/* Standard Colors / Charts
/************************************************************/

/* CPI */
.clr-cpi-p{
    color: #33339F;
}

.clr-cpi-c{
    color: #33339F;
}

/* SPI */
.clr-spi-p{
    color: #839CA5;
}

.clr-spi-c{
    color: #839CA5;
}

/* Baseline */
.clr-baseline-p{
    color: blue;
}

.clr-baseline-c{
    color: blue;
}

/* Actual */
.clr-actual-p{
    color: #daa638;
}

.clr-actual-c{
    color: #daa638;
}

/* Earned */
.clr-earned-p{
    color: green;
}

.clr-earned-c{
    color: green;
}

/* Forecast */
.clr-forecast-p{
    color: #4d4c4c;
}

.clr-forecast-c {
    color: #4d4c4c;
}

/************************************************************/
/* Standard Colors / Selections
/************************************************************/

.clr-bkgrnd-selected{
    background-color: #2a5db2;
}

.clr-selected{
    color: #2a5db2 !important;
}

.clr-selected-tile-icon{
    color: rgba(244, 110, 35, 0.2) !important;
}

.clr-brdr-btm-selected-4x{
    border-bottom: 4px solid #2a5db2;
}

/************************************************************/
/* Standard Colors / App
/************************************************************/

.clr-text{
    color: #000000;
}

.clr-text-highlight{
    color: #ffffff !important;
}

.clr-brdr-btm-default-4x{
    border-top: 4px solid rgba(255,255,255,0.8);
}

.clr-brdr-top-top-4x{
    border-top: 4px solid rgba(118,128,153,0.8);
}

.clr-bkgrnd-app{
    background-color: lightgrey !important;
}

.clr-bkgrnd-app-alpha{
    background-color: rgba(211,211,211, 0.7) !important;
}

.clr-bkgrnd-default-alpha{
    background-color: rgba(48,48,48, 0.8);
}

/*******************************/
/* Tables                      */
/*******************************/
.td-left{
    text-align: left !important;
    vertical-align: middle !important;
}

.td-center{
    text-align: center !important;
    vertical-align: middle !important;
}

/*******************************/
/* Padding and Margins         */
/*******************************/

.p-none {
    padding: 0 !important;
    padding-left: 0 !important;
}
.p-top-xs {
    padding-top: 5px;
}
.p-top-sm {
    padding-top: 10px;
}
.p-top-md {
    padding-top: 20px;
}
.p-bottom-xs {
    padding-top: 5px;
}
.p-bottom-sm {
    padding-top: 10px;
}
.p-bottom-md {
    padding-top: 20px;
}
.p-xs {
    padding: 2px !important;
}
.p-sm {
    padding: 10px !important;
}
.p-md {
    padding: 20px !important;
}
.p-lg {
    padding: 40px !important;
}
.p-L-xs{
    padding-left: 2px;
}
.p-L-sm{
    padding-left: 10px;
}
.p-R-xs{
    padding-right: 2px;
}
.p-R-none{
    padding-right: 0px !important;
}
.p-TRL-xs{
    padding: 2px 2px 0px 2px;
}
.p-LR-xs {
    padding: 0 2px 0 2px;
}
.p-LR-sm {
    padding: 0 10px;
}
.p-LR-md {
    padding: 0 20px;
}
.p-LR-lg {
    padding: 0 40px;
}
.p-TB-xs {
    padding: 5px 0;
}
.p-TB-md {
    padding: 10px 0;
}
.p-TB-md {
    padding: 20px 0;
}
.p-TB-lg {
    padding: 40px 0;
}
.m-none {
    margin: 0 !important;
}
.m-xs {
    margin: 5px !important;
}
.m-sm {
    margin: 10px !important;
}
.m-md {
    margin: 20px !important;
}
.m-lg {
    margin: 40px !important;
}
.m-top-none {
    margin-top: 0;
}
.m-top-xs {
    margin-top: 5px;
}
.m-top-sm {
    margin-top: 10px;
}
.m-top-md {
    margin-top: 20px;
}
.m-top-lg {
    margin-top: 40px;
}
.m-left-xs {
    margin-left: 5px;
}
.m-left-sm {
    margin-left: 10px;
}
.m-left-md {
    margin-left: 20px;
}
.m-left-lg {
    margin-left: 40px;
}
.m-right-xs {
    margin-right: 5px;
}
.m-right-sm {
    margin-right: 10px;
}
.m-right-md {
    margin-right: 20px;
}
.m-right-lg {
    margin-right: 40px;
}
.m-bottom-xs {
    margin-bottom: 5px;
}
.m-bottom-sm {
    margin-bottom: 10px;
}
.m-bottom-md {
    margin-bottom: 20px;
}
.m-bottom-lg {
    margin-bottom: 40px;
}
.m-bottom-none {
    margin-bottom: 0;
}