.panel-filtered-projects {
    /*margin-bottom: 20px;*/
    /*background-color: #ffffff;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 4px;*/
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-filtered-projects-body {
    padding: 5px;
}
.panel-filtered-projects > .list-group {
    margin-bottom: 0;
}
.panel-filtered-projects > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
}
.panel-filtered-projects > .list-group .list-group-item:first-child {
    border-top: 0;
}
.panel-filtered-projects > .list-group .list-group-item:last-child {
    border-bottom: 0;
}
.panel-filtered-projects > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-filtered-projects > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-filtered-projects-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}
.panel-filtered-projects > .table,
.panel-filtered-projects > .table-responsive > .table {
    margin-bottom: 0;
}
.panel-filtered-projects > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel-filtered-projects > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel-filtered-projects > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel-filtered-projects > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel-filtered-projects > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel-filtered-projects > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel-filtered-projects > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel-filtered-projects > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
    border-top-left-radius: 3px;
}
.panel-filtered-projects > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel-filtered-projects > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel-filtered-projects > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel-filtered-projects > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel-filtered-projects > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel-filtered-projects > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel-filtered-projects > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel-filtered-projects > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
    border-top-right-radius: 3px;
}
.panel-filtered-projects > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel-filtered-projects > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel-filtered-projects > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel-filtered-projects > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel-filtered-projects > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel-filtered-projects > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel-filtered-projects > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel-filtered-projects > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
    border-bottom-left-radius: 3px;
}
.panel-filtered-projects > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel-filtered-projects > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel-filtered-projects > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel-filtered-projects > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel-filtered-projects > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel-filtered-projects > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel-filtered-projects > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel-filtered-projects > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
    border-bottom-right-radius: 3px;
}
.panel-filtered-projects > .panel-filtered-projects-body + .table,
.panel-filtered-projects > .panel-filtered-projects-body + .table-responsive {
    border-top: 1px solid #dddddd;
}
.panel-filtered-projects > .table > tbody:first-child > tr:first-child th,
.panel-filtered-projects > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
}
.panel-filtered-projects > .table-bordered,
.panel-filtered-projects > .table-responsive > .table-bordered {
    border: 0;
}
.panel-filtered-projects > .table-bordered > thead > tr > th:first-child,
.panel-filtered-projects > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel-filtered-projects > .table-bordered > tbody > tr > th:first-child,
.panel-filtered-projects > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel-filtered-projects > .table-bordered > tfoot > tr > th:first-child,
.panel-filtered-projects > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel-filtered-projects > .table-bordered > thead > tr > td:first-child,
.panel-filtered-projects > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel-filtered-projects > .table-bordered > tbody > tr > td:first-child,
.panel-filtered-projects > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel-filtered-projects > .table-bordered > tfoot > tr > td:first-child,
.panel-filtered-projects > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
}
.panel-filtered-projects > .table-bordered > thead > tr > th:last-child,
.panel-filtered-projects > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel-filtered-projects > .table-bordered > tbody > tr > th:last-child,
.panel-filtered-projects > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel-filtered-projects > .table-bordered > tfoot > tr > th:last-child,
.panel-filtered-projects > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel-filtered-projects > .table-bordered > thead > tr > td:last-child,
.panel-filtered-projects > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel-filtered-projects > .table-bordered > tbody > tr > td:last-child,
.panel-filtered-projects > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel-filtered-projects > .table-bordered > tfoot > tr > td:last-child,
.panel-filtered-projects > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
}
.panel-filtered-projects > .table-bordered > thead > tr:first-child > th,
.panel-filtered-projects > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel-filtered-projects > .table-bordered > tbody > tr:first-child > th,
.panel-filtered-projects > .table-responsive > .table-bordered > tbody > tr:first-child > th,
.panel-filtered-projects > .table-bordered > tfoot > tr:first-child > th,
.panel-filtered-projects > .table-responsive > .table-bordered > tfoot > tr:first-child > th,
.panel-filtered-projects > .table-bordered > thead > tr:first-child > td,
.panel-filtered-projects > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel-filtered-projects > .table-bordered > tbody > tr:first-child > td,
.panel-filtered-projects > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel-filtered-projects > .table-bordered > tfoot > tr:first-child > td,
.panel-filtered-projects > .table-responsive > .table-bordered > tfoot > tr:first-child > td {
    border-top: 0;
}
.panel-filtered-projects > .table-bordered > thead > tr:last-child > th,
.panel-filtered-projects > .table-responsive > .table-bordered > thead > tr:last-child > th,
.panel-filtered-projects > .table-bordered > tbody > tr:last-child > th,
.panel-filtered-projects > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel-filtered-projects > .table-bordered > tfoot > tr:last-child > th,
.panel-filtered-projects > .table-responsive > .table-bordered > tfoot > tr:last-child > th,
.panel-filtered-projects > .table-bordered > thead > tr:last-child > td,
.panel-filtered-projects > .table-responsive > .table-bordered > thead > tr:last-child > td,
.panel-filtered-projects > .table-bordered > tbody > tr:last-child > td,
.panel-filtered-projects > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel-filtered-projects > .table-bordered > tfoot > tr:last-child > td,
.panel-filtered-projects > .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
}
.panel-filtered-projects > .table-responsive {
    border: 0;
    margin-bottom: 0;
}
.panel-filtered-projects-heading {
    /*padding: 10px 15px;*/
    /*border-bottom: 1px solid lightgrey !important;*/
    /*border-top-right-radius: 3px;*/
    /*border-top-left-radius: 3px;*/
    /*background-color: #FFFFFF;*/
}
.panel-filtered-projects-heading > .dropdown .dropdown-toggle {
    color: inherit;
}
.panel-filtered-projects-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: inherit;
}
.panel-filtered-projects-title > a {
    color: inherit;
}
.panel-filtered-projects-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    /*border-bottom-right-radius: 3px;*/
    /*border-bottom-left-radius: 3px;*/
}
.panel-filtered-projects-group {
    margin-bottom: 20px;
}
.panel-filtered-projects-group .panel-filtered-projects {
    margin-bottom: 0;
    /*border-radius: 4px;*/
    overflow: hidden;
}
.panel-filtered-projects-group .panel-filtered-projects + .panel-filtered-projects {
    margin-top: 2px;
}
.panel-filtered-projects-group .panel-filtered-projects-heading {
    border-bottom: 0;
}
.panel-filtered-projects-group .panel-filtered-projects-heading + .panel-filtered-projects-collapse .panel-filtered-projects-body {
    border-top: 1px solid #dddddd;
}
.panel-filtered-projects-group .panel-filtered-projects-footer {
    border-top: 0;
}
.panel-filtered-projects-group .panel-filtered-projects-footer + .panel-filtered-projects-collapse .panel-filtered-projects-body {
    border-bottom: 1px solid #dddddd;
}
.panel-filtered-projects-default {
    border-color: #dddddd;
}
.panel-filtered-projects-default > .panel-filtered-projects-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}
.panel-filtered-projects-default > .panel-filtered-projects-heading + .panel-filtered-projects-collapse .panel-filtered-projects-body {
    border-top-color: #dddddd;
}
.panel-filtered-projects-default > .panel-filtered-projects-footer + .panel-filtered-projects-collapse .panel-filtered-projects-body {
    border-bottom-color: #dddddd;
}
/*.panel-filtered-projects-primary {*/
    /*border-color: #428bca;*/
/*}*/
/*.panel-filtered-projects-primary > .panel-filtered-projects-heading {*/
    /*color: #ffffff;*/
    /*background-color: #428bca;*/
    /*border-color: #428bca;*/
/*}*/
/*.panel-filtered-projects-primary > .panel-filtered-projects-heading + .panel-filtered-projects-collapse .panel-filtered-projects-body {*/
    /*border-top-color: #428bca;*/
/*}*/
/*.panel-filtered-projects-primary > .panel-filtered-projects-footer + .panel-filtered-projects-collapse .panel-filtered-projects-body {*/
    /*border-bottom-color: #428bca;*/
/*}*/
/*.panel-filtered-projects-success {*/
    /*border-color: #d6e9c6;*/
/*}*/
/*.panel-filtered-projects-success > .panel-filtered-projects-heading {*/
    /*color: #3c763d;*/
    /*background-color: #dff0d8;*/
    /*border-color: #d6e9c6;*/
/*}*/
/*.panel-filtered-projects-success > .panel-filtered-projects-heading + .panel-filtered-projects-collapse .panel-filtered-projects-body {*/
    /*border-top-color: #d6e9c6;*/
/*}*/
/*.panel-filtered-projects-success > .panel-filtered-projects-footer + .panel-filtered-projects-collapse .panel-filtered-projects-body {*/
    /*border-bottom-color: #d6e9c6;*/
/*}*/
/*.panel-filtered-projects-info {*/
    /*border-color: #bce8f1;*/
/*}*/
/*.panel-filtered-projects-info > .panel-filtered-projects-heading {*/
    /*color: #31708f;*/
    /*background-color: #d9edf7;*/
    /*border-color: #bce8f1;*/
/*}*/
/*.panel-filtered-projects-info > .panel-filtered-projects-heading + .panel-filtered-projects-collapse .panel-filtered-projects-body {*/
    /*border-top-color: #bce8f1;*/
/*}*/
/*.panel-filtered-projects-info > .panel-filtered-projects-footer + .panel-filtered-projects-collapse .panel-filtered-projects-body {*/
    /*border-bottom-color: #bce8f1;*/
/*}*/
/*.panel-filtered-projects-warning {*/
    /*border-color: #faebcc;*/
/*}*/
/*.panel-filtered-projects-warning > .panel-filtered-projects-heading {*/
    /*color: #8a6d3b;*/
    /*background-color: #fcf8e3;*/
    /*border-color: #faebcc;*/
/*}*/
/*.panel-filtered-projects-warning > .panel-filtered-projects-heading + .panel-filtered-projects-collapse .panel-filtered-projects-body {*/
    /*border-top-color: #faebcc;*/
/*}*/
/*.panel-filtered-projects-warning > .panel-filtered-projects-footer + .panel-filtered-projects-collapse .panel-filtered-projects-body {*/
    /*border-bottom-color: #faebcc;*/
/*}*/
/*.panel-filtered-projects-danger {*/
    /*border-color: #ebccd1;*/
/*}*/
/*.panel-filtered-projects-danger > .panel-filtered-projects-heading {*/
    /*color: #a94442;*/
    /*background-color: #f2dede;*/
    /*border-color: #ebccd1;*/
/*}*/
/*.panel-filtered-projects-danger > .panel-filtered-projects-heading + .panel-filtered-projects-collapse .panel-filtered-projects-body {*/
    /*border-top-color: #ebccd1;*/
/*}*/
/*.panel-filtered-projects-danger > .panel-filtered-projects-footer + .panel-filtered-projects-collapse .panel-filtered-projects-body {*/
    /*border-bottom-color: #ebccd1;*/
/*}*/