.risks-chart-container {
    /*height: calc(33%) !important;*/
    /*padding-top: 6px;*/
    /*padding-left: 2px;*/
}

.risks-grid-container {
    position: absolute;
    width: calc(100% - 4px) !important;
}

.risks-chart {
    /*position: absolute;*/
    /*min-height: 200px !important;*/
    /*width: calc(100% - 4px) !important;*/
}

.risks-no-data-overlay-message{
    display: table-cell;
    font-size: 12pt;
    font-weight: bold;
    vertical-align: middle;
    color: #000000;
    height:240px;
}

.risks-chart-tile {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
}

.risks-chart-tile canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/*Additions to RiskRegisterGridView*/
.k-grid-td-icon-risk{
    float:left;
    margin-top: 4px;
    margin-left: 10px;
}

/*Risks Project Details View*/
/*9-11-14 added auto overflow property so table appears when resized to small size*/

.tab-content-risk{
    position: relative;
    display: inline-block;
    height: calc(100% - 4px);
    width: 100%;
    overflow: auto;
    /*border: solid 1px #ddd;*/
    margin-bottom: 2px;
    margin-top: 2px;
}

/*Risk Details View*/

#risk-details-container
{
    padding: 10px;
    font-size: 12pt;
    /*width: 1000px !important;*/
    position:relative;
}

#risk-details-container h3
{
    padding-bottom: 15px;
    padding-top: 15px;
    display: inline;
    color:#969696;
}

#risk-details-container h4
{
    padding-bottom: 15px;
    display: inline;
    color:#969696;
}

.risk-details-table
{
    margin-right:20px;
}

.risk-details-table tr:nth-child(even)
{
    background-color: #dcdcdc;
    /*#d3d3d3 light gray*/
    /*#ffffff very light gray*/
    /*#dcdcdc lighter gray*/
}

/*.risk-details-table tr:nth-child(odd)*/
/*{*/
    /*background-color: #dcdcdc;*/
    /*#d3d3d3 light gray*/
    /*#ffffff very light gray*/
    /*#dcdcdc lighter gray*/
/*}*/

.risk-details-table .field-label
{

    width:500px;
    height:25px;
    text-align: left;
    padding-left: 20px;

}


.details-cost-schedule-list dd
{
    height:25px;
}

.risk-details-heading dt
{
    display: inline;
    padding-right: 30px;
    font-size: 13pt;
}

.details-cost-schedule dt
{
    padding-right: 30px;
    font-size: 12pt;
    font-style: normal;
}

/*Admin project styles for risks*/

.project-risk-row {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    min-width: 270px;
}

.project-risk-label {
    height: 25px;
    width: 100%;
    text-align: left;
    color: dimgray;
}

.project-risk-label-when-editing {
    padding-right: 85px;
    padding-top: 5px;
    padding-left: 5px;
}

.project-risk-value {
    height: 25px;
    width: 100%;
    text-align: right;
    font-weight: bold;
}

.project-risk-value-when-editing {
    padding-right: 85px;
}

.project-risk-hide-delete-button {
    margin-top: -43px;
    margin-right: 10px;
    position: relative;
    float: right;
    text-align: right;
    visibility: hidden;
}

.project-risk-show-delete-button {
    visibility: visible;
}

.attribute-edit-popup {
    /*-webkit-column-count: 1; *//* Chrome, Safari, Opera */
    /*-moz-column-count: 1; *//* Firefox */
    /*column-count: 1;*/
    width: 800px !important;
    /*width: 75%;*/
    height: 66%;
}

/*modified standard width of kendo k-edit-form-container of 400px to 800 px for edit popup*/
.k-edit-form-container {
    /*position: relative;*/
    /*width: 800px;*/
    width: 100%;
    height: 100%;
    max-height:768px
}

.def-hide-field {
    display: none;
}