
.field-value-red{
    color: rgba(217, 2, 2, 100) !important; //#D90202
    font-weight: bold;
}

.field-value-green{
    color: green;
/*rgba(0, 128, 0, 0.99) !important;*/
    /*font-weight: bold;*/
}

.field-checkbox {
    padding-right: 8px;
}

.field-value {
    height: 25px;
    width: 100%;
    text-align: left;
    /*font-weight: bold;*/
    padding-left: 10px;
    /*color: red;*/
    /* rgba(217, 2, 2, 1);*/
}

.field-no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.school-row {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    min-width: 270px;
}

.school-row-selected {
    background-color: #2a5db2 !important;
}

.building-row {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    min-width: 270px;
}

.building-row-selected {
    background-color: #2a5db2 !important;
}

.room-row {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    min-width: 270px;
}

.room-row-selected {
    background-color: #2a5db2 !important;
}

.field-button-row {
    height: 50px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
    min-width: 270px;
    text-align: right;
    padding: 5px;
}

.wit-grid-container {
    position: absolute;
    width: calc(100% - 7px) !important;
    min-width:660px;
}

.summary-review {
    width: 200px !important;
    margin-right: 10px;
}

.intro-review {
    width: 220px !important;
    margin-right: 10px;
}

.summary-export {
    width: 250px !important;
    margin-right: 20px;
}

.introduction-button {
    width: 350px !important;
    margin-right: 20px;
}