/*Behavior*/

/* When stacked in columns add a margin to the last */
/* row so it can scroll above the footer */
@media (max-width: 625px){
    .iosSlider .slider .item .inner .text1 span{
        font-size: 30px !important;
    }

    .iosSlider .slider .item .inner .text2 span{
        font-size: 16px !important;
    }
}

@media (max-width: 530px){
    .iosSlider .slider .item .inner .text1 span{
        font-size: 20px !important;
    }

    .iosSlider .slider .item .inner .text2 span{
        font-size: 14px !important;
    }
}

/* When stacked in columns add a margin to the last */
/* row so it can scroll above the footer */
@media (max-width: 992px){
    .home-footer-margin{
        margin-bottom: 35px !important;
    }
}

/*Style*/
.home-container{
    position: absolute;
    width: calc(100% - 2px) !important;
    padding-left: 2px;
}

.force-padding-bottom{
    padding-bottom: 35px !important;
}

.container-padded-home {
    width: 100%;
    padding-top: 8px !important;
    padding-left: 20px;
    padding-right: 20px;
}
.container-padded-home2 {
    width: 100%;
    padding-top: 8px !important;
    padding-left: 5px;
    padding-right: 5px;
}