/* Title*/
.basemap-title-container {
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
}
.basemap-title {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

/* Thumnbnail Image*/
.basemap-image {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
.basemap-image-shadow {
    -moz-box-shadow:    inset 0px 0px 10px #000000;
    -webkit-box-shadow: inset 0px 0px 10px #000000;
    box-shadow:         inset 0px 0px 10px #000000;
}
.basemap-image-selected {
    border: 5px solid #2d84c8;
}
