body {
    padding: 0;
    margin: 0;
    background-color: white  !important;
    -ms-overflow-x: hidden;
    -ms-overflow-y: auto;
}

html,body {
    height: 100%;
}

/************************************************************/
/* Header
/************************************************************/

.username-text{
    color: #ffffff;
    font-size: 18px;
    text-shadow: -1px 0 #4d4c4c, 0 1px #4d4c4c, 1px 0 #4d4c4c, 0 -1px #4d4c4c;
}

.font-white-brdr{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

/************************************************************/
/* Misc Containers
/************************************************************/

.app-container{
    position: absolute;
    top: 0;
    bottom: 0;

    /*margin: 0 auto;*/
    min-height: 800px;
    height: 100%;
    width: 100%;
}

.project-map-large-container {
    position: absolute;
    padding-top: 6px !important;
    padding-left: 2px !important;
    width: calc(100% - 2px);
}

.container-fluid-tight{
    padding-top: 6px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.container-tile-layout{
    padding-top: 6px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    width: 100%;
    height: 100%;
}

.container-risk-layout{
    /*margin-top: 30px;*/
    /*margin-bottom: 15px;*/
    height: calc(100% - 100px) !important; /*100% !important;*/
    /*width: 100%;*/
}

.container-full-map {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:0;
    padding: 0;
    overflow: hidden;
}

.project-results-container{
    position: absolute;
    height: calc(100% - 160px) !important;
    width: calc(100% - 10px) !important;
    /*overflow: hidden;*/
}


.btn-interaction{

}

.btn-interaction:hover{
    cursor: pointer;
    cursor: hand;
}

/*.tooltip {*/
    /*padding: 8px;*/
    /*position: absolute;*/
    /*z-index: 10;*/
    /*color: black;*/
    /*pointer-events:none;*/
    /*background-color: #ffffff;*/
    /*-o-box-shadow: 0 0 5px #aaa;*/
    /*-moz-box-shadow: 0 0 5px #aaa;*/
    /*-webkit-box-shadow: 0 0 5px #aaa;*/
    /*box-shadow: 0 0 5px #aaa;*/
    /*font: normal 11px/15px tahoma, arial, verdana, sans-serif;*/
/*}*/

/*.tooltip-inner{*/
    /*color: #000000;*/
/*}*/

/************************************************************/
/* No Data Available Overlay
/************************************************************/

.no-data-overlay-outer-original{
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 5px;
    left: 5px;
    background-color: rgb(255,255,255) !important;
}

.no-data-overlay-outer{
    position: relative;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    padding-top: 5px;
    left: 5px;
    background-color: rgb(255,255,255) !important;
}

.no-data-overlay-inner{
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    opacity: .2;
    background-color: rgba(130,130,130,0.3) !important;
    font-size: 34px;
}

.no-data-overlay-message{
    display: table-cell;
    font-size: 12pt;
    font-weight: bold;
    vertical-align: middle;
    color: #000000;
}

.no-data-overlay-full{
    display: table;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    opacity: .2;
    background-color: rgba(130,130,130,0.3);
    font-size: 34px;
}
.no-data-overlay{
    display: table;
    text-align: center;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: relative;
    top: 0;
    left: 0;
    margin: 5px;
    opacity: .2;
    background-color: rgba(130,130,130,0.3);
    font-size: 34px;
}


/************************************************************/
/* Breadcrumbs
/************************************************************/
.wizard a {
    padding: 2px 12px 2px;
    padding-left: 14px;
    margin-right: 5px;
    background: #efefef;
    /*background: rgba(118,128,153,0.8);*/
    position: relative;
    display: inline-block;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 12px inset transparent;
    border-bottom: 12px inset transparent;
    border-left: 12px solid #4d4c4c;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 12px inset transparent;
    border-bottom: 12px inset transparent;
    border-left: 12px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -12px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
/*.wizard a:first-child {*/
    /*-webkit-border-radius: 4px 0 0 4px;*/
    /*-moz-border-radius: 4px 0 0 4px;*/
    /*border-radius: 4px 0 0 4px;*/
/*}*/
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #007ACC;
    color: #fff;
}
.wizard .current:after {
    border-left-color: #007ACC;
}

/************************************************************/
/* Filter Status
/************************************************************/
.filterTitleContainer {
    display: table;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

.filterTitleContent {
    display: table-cell;
}

.filterTitleLabel {
    /*background-color: #eee;*/
    /*border: 1px solid green;*/
}

.filterTitleSelection {
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    text-align: center;
    /*background-color: #ccc;*/
    width: 100%;
    /*border: 1px solid blue;*/
}

.filterClearButton{
    text-align: right;
    float: right;
    /*border: 1px solid blue;*/
    min-width: 40px;
    color: blue;
    cursor: pointer;
    cursor: hand;
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.filterClearButtonVisible{
    visibility: visible !important;
    opacity: 1;
}

/************************************************************/
/* Classes for floating and centering divs
/************************************************************/
/*http://jsfiddle.net/MJ9yp/*/
/*http://www.jqui.net/tips-tricks/css-clearfix/*/
.outer-div { position: relative; float: right; right: 50%; }
.inner-div { position: relative; float: right; right: -50%; }
.floating-div { float: left; margin: 0 1.5em; border: 1px solid red;  }

.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/************************************************************/
/* Kendo Overrides:
/************************************************************/
/*.k-tabstrip>.k-content, .k-panelbar .k-tabstrip>.k-content{*/
    /*padding-left: 1px !important;*/
    /*padding-right: 3px !important;*/
/*}*/
.k-tabstrip>.k-content, .k-panelbar .k-tabstrip>.k-content{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 3px !important;
    padding-bottom: 0px !important;
}

/************************************************************/
/* JQueryUI Overrides:
/************************************************************/
/*.ui-tooltip, .arrow:after {*/
    /*background: black;*/
    /*border: 2px solid white;*/
/*}*/
/*.ui-tooltip {*/
    /*padding: 10px 20px;*/
    /*color: white;*/
    /*border-radius: 20px;*/
    /*font: bold 14px "Helvetica Neue", Sans-Serif;*/
    /*text-transform: uppercase;*/
    /*box-shadow: 0 0 7px black;*/
/*}*/
/*.arrow {*/
    /*width: 70px;*/
    /*height: 16px;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*margin-left: -35px;*/
    /*bottom: -16px;*/
/*}*/
/*.arrow.top {*/
    /*top: -16px;*/
    /*bottom: auto;*/
/*}*/
/*.arrow.left {*/
    /*left: 20%;*/
/*}*/
/*.arrow:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*left: 20px;*/
    /*top: -20px;*/
    /*width: 25px;*/
    /*height: 25px;*/
    /*box-shadow: 6px 5px 9px -9px black;*/
    /*-webkit-transform: rotate(45deg);*/
    /*-moz-transform: rotate(45deg);*/
    /*-ms-transform: rotate(45deg);*/
    /*-o-transform: rotate(45deg);*/
    /*tranform: rotate(45deg);*/
/*}*/
/*.arrow.top:after {*/
    /*bottom: -20px;*/
    /*top: auto;*/
/*}*/

/************************************************************/
/* RadiantQ Overrides
/************************************************************/
/*.ui-widget-header{*/
    /*border-bottom: 1px solid #aaaaaa !important;*/
    /*border-left-width: 0px !important;*/
    /*border-top: 0px !important;*/
    /*border-right: 0px !important;*/
    /*padding-left: 1px;*/
/*}*/

/************************************************************/
/* Bootstrap Overrides: Detailed overides in other classes
/* for example app-navbar
/************************************************************/

.container-fluid {
    margin-top: 30px;
    margin-bottom: 15px;
}

.dropdown-menu{
    padding: 0px 0 !important;
}

.page-header{
    height: 70px;
    background-color: transparent;
    border: none;
    margin-bottom: 0px !important;
}

.tile-badge {
    font-size: 10px;
    position: absolute;
    min-width: 10px;
    padding: 2px 5px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    background-color: #a94442;
    border-radius: 10px;
    margin-left: 1px;
    margin-top: -2px;
}

@media (max-width: 768px) {
    .container-fluid {
        margin-top: -15px;
        margin-bottom: 15px;
    }
}

/*@media (max-height: 650px){*/
    /*.banner{*/
        /*display: none !important;*/
    /*}*/
/*}*/
.panel-heading-background-hover{
    /*background-color: rgba(204,204,204,0.3) !important;*/
    background-color: rgb(235,235,235);
}

.panel-heading-info-text {
    height: 28px;
    width: 28px;
    /*position: absolute;*/
    /*top: 48px;*/
    /*right: 4px;*/
    /*top: 2px;*/
    /*right: 3px;*/
    position: fixed;
    /*top: 85px;*/
    /*right: 7px;*/
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

/*.panel-heading-info-text-close-button {*/
/*position: absolute;*/
/*top: -15px;*/
/*right: -17px;*/
/*}*/

.panel-info-text {
    height: 28px;
    width: 28px;
    display: inline-block;
    /*position: fixed;*/
    /*position: absolute;*/
    text-align: center;
    font-weight: bold;
    /*font-size: 20px;*/
    color: black;
}
