/*http://www.hongkiat.com/blog/css3-glossy-effect/*/


.glossy {
    width: 100px;
    height: 25px;

    margin: 10px auto;
    position: relative;

    background: #94c4fe;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%,#94c4fe), color-stop(100%,#d3f6fe));
    background: -webkit-linear-gradient(top,  #94c4fe 31%,#d3f6fe 100%);
    background: -moz-linear-gradient(top,  #94c4fe 31%, #d3f6fe 100%);
    background: -o-linear-gradient(top,  #94c4fe 31%,#d3f6fe 100%);
    background: -ms-linear-gradient(top,  #94c4fe 31%,#d3f6fe 100%);
    background: linear-gradient(to bottom,  #94c4fe 31%,#d3f6fe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c4fe', endColorstr='#d3f6fe',GradientType=0 );

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    border: 1px solid #4864a9;

    color: #000;
    font-size: 0.750em;
    text-shadow: 1px 1px 0px rgba(255,255,255,.5);

    -webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);

    position: relative;
}

.glossy:before {
    content: "";
    width: 100px;
    height: 25px;

    display: block;
    position: absolute;
    top: 1px;
    left: 10px;

    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.7) 8%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(8%,rgba(255,255,255,0.7)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.7) 8%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.css3-button {

    position:relative;

    display:inline-block;

    width:8em;

    padding:0.25em 0.5em 0.3em 0.5em;

    text-align:center;

    cursor:pointer;

    border:2px solid #999;

    background-color:#666;

    background-color:rgba(128,128,128,0.75);

    -moz-border-radius:30px;

    -webkit-border-radius:30px;

    -opera-border-radius:30px;

    -khtml-border-radius:30px;

    border-radius:30px;

    font-size:1.5em;

    color:#fff;

    font-weight:bold;

    text-shadow:1px 1px 3px rgba(0,0,0,0.5);

    background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));

    background-image:-moz-linear-gradient(top,bottom,from(rgba(64,64,64,0.75)), to(rgba(192,192,192,0.9)));

    -khtml-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;

    -moz-box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;

    box-shadow:rgba(192,192,192,0.75) 0px 8px 24px;

}

.css3-button span {

    position:absolute;

    display:block;

    width:50%;

    left:3.5%;

    top:0px;

    height:50%;

    -webkit-border-radius:30px;

    -moz-border-radius:30px;

    background-color:rgba(255,255,255,0.25);

    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));

    background-image:-moz-linear-gradient(top,bottom,from(rgba(255,255,255,0.75)), to(rgba(255,255,255,0)));

}

#shiny-blue {

    border-color:#6699cc;

    background-color:rgba(64,128,192,0.75);

    background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));

    background-image:-moz-linear-gradient(top,bottom,from(rgba(16,96,192,0.75)), to(rgba(96,192,255,0.9)));

    -khtml-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;

    -moz-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;

    box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;

}

#shiny-blue:hover {

    border-color:#003575;

    background-color:rgba(0,97,216,0.75);

    background-image:-webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(0,97,216,0.75)), to(rgba(0,53,117,0.9)));

    background-image:-moz-linear-gradient(top,bottom,from(rgba(0,97,216,0.75)), to(rgba(0,53,117,0.9)));

    -khtml-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;

    -moz-box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;

    box-shadow:rgba(128,192,255,0.75) 0px 8px 24px;

    margin: 0 5px 0 5px;

}

