<div style="display: table;  height: 100%; width: 100%">
    <div style="display: table-cell; vertical-align: middle; text-align: center; height: 100%; width: 100%;">

        <div class="row basemap-layout-container" style="height: 400px; width: 700px; margin: 0 auto; background-color: #ffffff">
            <div class="row m-none" style="height: 50%; width: 100%; padding-left: 10px; padding-top: 10px;">

                <!-- Gray -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-sm" style="height: 100%;">
                    <div id="grayBasemapButton" class="btn-interaction" style="height: 100%; width: 100%;">
                        <div class="row m-none" style="height: 80%; width: 100%">
                            <div id="grayBasemapThumbnail" class="basemap-image-shadow" style="height: 133px; width: 200px; background-image: url(./images/basemap/Gray.jpg); background-size: cover;"></div>
                        </div>
                        <div class="row m-none" style="height: 20%; width: 100%">
                            <div class="basemap-title-container">
                                <div class="basemap-title">Gray</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Streets -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-sm" style="height: 100%;">
                    <div id="streetsBasemapButton" class="btn-interaction" style="height: 100%; width: 100%;">
                        <div class="row m-none" style="height: 80%; width: 100%">
                            <div id="streetsBasemapThumbnail" class="basemap-image-shadow" style="height: 133px; width: 200px; background-image: url(./images/basemap/Streets.jpg); background-size: cover;"></div>
                        </div>
                        <div class="row m-none" style="height: 20%; width: 100%">
                            <div class="basemap-title-container">
                                <div class="basemap-title">Streets</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Imagery -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-sm" style="height: 100%;">
                    <div id="imageryBasemapButton" class="btn-interaction" style="height: 100%; width: 100%;">
                        <div class="row m-none" style="height: 80%; width: 100%">
                            <div id="imageryBasemapThumbnail" class="basemap-image-shadow" style="height: 133px; width: 200px; background-image: url(./images/basemap/Imagery.jpg); background-size: cover;"></div>
                        </div>
                        <div class="row m-none" style="height: 20%; width: 100%">
                            <div class="basemap-title-container">
                                <div class="basemap-title">Imagery</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row m-none" style="height: 50%; width: 100%; padding-left: 10px;">

                <!-- Topographic -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-sm" style="height: 100%;">
                    <div id="topographicBasemapButton" class="btn-interaction" style="height: 100%; width: 100%;">
                        <div class="row m-none" style="height: 80%; width: 100%">
                            <div id="topographicBasemapThumbnail" class="basemap-image-shadow" style="height: 133px; width: 200px; background-image: url(./images/basemap/Topographic.jpg); background-size: cover;"></div>
                        </div>
                        <div class="row m-none" style="height: 20%; width: 100%">
                            <div class="basemap-title-container">
                                <div class="basemap-title">Topographic</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- National Geographic -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-sm" style="height: 100%;">
                    <div id="nationalGeographicBasemapButton" class="btn-interaction" style="height: 100%; width: 100%;">
                        <div class="row m-none" style="height: 80%; width: 100%">
                            <div id="nationalGeographicBasemapThumbnail" class="basemap-image-shadow" style="height: 133px; width: 200px; background-image: url(./images/basemap/NationalGeographic.jpg); background-size: cover;"></div>
                        </div>
                        <div class="row m-none" style="height: 20%; width: 100%">
                            <div class="basemap-title-container">
                                <div class="basemap-title">National Geographic</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Shaded Relief -->
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 p-sm" style="height: 100%;">
                    <div id="shadedReliefBasemapButton" class="btn-interaction" style="height: 100%; width: 100%;">
                        <div class="row m-none" style="height: 80%; width: 100%">
                            <div id="shadedReliefBasemapThumbnail" class="basemap-image-shadow" style="height: 133px; width: 200px; background-image: url(./images/basemap/ShadedRelief.jpg); background-size: cover;"></div>
                        </div>
                        <div class="row m-none" style="height: 20%; width: 100%">
                            <div class="basemap-title-container">
                                <div class="basemap-title">Shaded Relief</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>