<div style="height: 100%; width: 100%">
    <!--<h3 class="panel-title" >test label 2</h3>-->
    <div class="row project-details-layout-container m-none" style="height: 100%">
        <div id="facilities-filtered-layout" class="col-md-4 col-lg-4 p-xs" style="height: 100%"></div>
        <div id="facilities-filtered-layout2" class="col-md-4 col-lg-4 p-xs" style="height: 100%"></div>
        <div id="facilities-filtered-list-layout" class="col-md-4 col-lg-4 p-xs" style="height: 100%"></div>
    </div>
</div>

