<div style="height: 100%">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="panel panel-default" style="height: 100%;">
            <div class="panel-heading" style="height: 35px !important;">
                <h3 id="fieldLabel" class="panel-title" style="padding-top: 4px; padding-left: 5px;">Buildings</h3>
            </div>
            <div class="panel-body" style="height: calc(100% - 35px)">
                <div class="row m-none" style="width: 100%; height: calc(100% - 35px); position: relative;">
                    <div id="field-tab-content-region" class="tab-content" style="display: none; height:100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="height: 100%">
        <div class="panel panel-default" style="height: 100%;">
            <div class="panel-heading" style="height: 35px !important;">
                <h3 id="fieldLabel2" class="panel-title" style="padding-top: 4px; padding-left: 5px;">Rooms</h3>
            </div>
            <div class="panel-body" style="height: calc(100% - 35px)">
                <div class="row m-none" style="width: 100%; height: calc(100% - 35px); position: relative;">
                    <div id="field-tab-content-region2" class="tab-content" style="display: none; height:100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>