<div id="defTable" style="height: 100%; width: 100%;">
    <div class="panel panel-default" style="height:100%;margin-top:2px">
        <div class="panel-heading" style="height: 35px !important;">
            <h3 id="defTitle" class="panel-title" style="padding-top: 4px; padding-left: 5px;">District Name</h3>
        </div>
        <div class="panel-body" style="height: calc(100% - 35px) !important; padding: 0px !important;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs" style="height: 100%;">
                <div class="row m-sm" style="height: 30px;">
                    <span>The deficiency view shows FIT inspection records that have a deficiency (D) or extreme deficiency (X) identified.
                        This view is directly connected with the live database and the submitted inspection.
                        Any updates to the comments and/or criteria are recorded immediately.</span>
                </div>
                <div class="row m-sm "    style="padding-top: 5px;">
                    <input id="dateRange" style="width:300px">
                </div>
                <div class="row m-sm" id="def-region" style="height: calc(100% - 105px);"></div>
            </div>
        </div>
    </div>
</div>
<
