<div style="height: 100%; width: 100%;">
    <div id="defLoading"></div>
    <div id="def" style="height:100%; width: 100%;border-width: 1px !important;"></div>
    <script>
        Number.prototype.format = function (n, x) {
            var re = '(\\d)(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
            return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$1,');
        };
    </script>
    <style type="text/css">
        .k-primary {
            /*border-color: #ef671a !important;*/
            /*background-color: #f35800 !important;*/
            background-color: #428bca !important;
            border-color: #357ebd !important;
        }
    </style>
</div>


