<div style="height: calc(100% - 7px)">
    <div class="row wit-grid-container m-none" >
        <div class="tabbable" style="width: 100%; height: 100%;">
            <ul id="districtTabBar" class="nav nav-tabs tabs-below">
                <!--<li id="districtTab7" class="active"><a href="#9" data-toggle="tab">Overview</a></li>-->
                <!--<li id="districtTab1"><a href="#7" data-toggle="tab">School Locations</a></li>-->
                <li id="districtTab1"><a href="#8" data-toggle="tab">Deficiency View</a></li>
                <div class="row" style="text-align: right;">
                    <!--<img src="images/sdu-4.gif" height="35px" style="margin-top: 3px;margin-right: 12px;margin-bottom: 3px;"/>-->
                    <img src="images/paLogo-330.jpg" height="45px" style="margin-top: 3px;margin-right: 12px;margin-bottom: 3px;"/>
                </div>
            </ul>
            <div id="district-tab-content-region" class="tab-content" style="display: none; height: 1000px; max-height: 1000px;"></div>
        </div>
  </div>
</div>