<style type="text/css">
    .k-widget .k-dropdown  {
        width:450px !important
    }

    textarea {
        width:450px !important
    }
</style>

<div class="row attribute-edit-popup">

    <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none" style="min-width: 300px;">-->

    <div class="k-edit-label"><label for="reportId">Id</label></div>
    <div class="k-edit-field">
        <input name="reportId" type="text" class="k-textbox k-state-disabled k-input" data-bind="value:reportId"
               readonly>
        <!--<input name="reportId" class="k-label" data-bind="value:reportId" readonly>-->
    </div>

    <div class="k-edit-label"><label for="districtName">District</label></div>
    <div data-container-for="districtName" class="k-edit-field">
        <input name="districtName" type="text" class="k-input k-textbox" data-bind="value:districtName" readonly>
    </div>

    <div class="k-edit-label"><label for="schoolName">School</label></div>
    <div data-container-for="schoolName" class="k-edit-field">
        <input name="schoolName" type="text" class="k-input k-textbox" data-bind="value:schoolName" readonly>
    </div>

    <div class="k-edit-label"><label for="buildingName">Building</label></div>
    <div data-container-for="buildingName" class="k-edit-field">
        <input name="buildingName" type="text" class="k-input k-textbox" data-bind="value:buildingName" readonly>
    </div>

    <div class="k-edit-label"><label for="roomName">Room</label></div>
    <div data-container-for="roomName" class="k-edit-field">
        <input name="roomName" type="text" class="k-input k-textbox" data-bind="value:roomName" readonly>
    </div>


    <div class="fitSection">
        <div class="k-edit-label"><label for="section1">1. Gas Leaks</label></div>
        <div data-container-for="section1" class="k-edit-field">
            <input id="section1" name="section1"
                   data-bind="value:section1" data-role="dropdownlist" data-type="number"
                   data-value-field="value" data-text-field="text"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>

        </div>
        <div class="k-edit-label"><label for="section1_comments">Section 1 Comments</label></div>
        <div data-container-for="section1_comments" class="k-edit-field">
            <textarea name="section1_comments" type="text" class="k-input k-textbox"
                      data-bind="value:section1_comments"></textarea>
        </div>
    </div>

    <div class="fitSection">
        <div class="k-edit-label"><label for="section2">2. Mechanical Systems</label></div>
        <div data-container-for="section2" class="k-edit-field">
            <input id="section2" name="section2" data-value-field="value" data-text-field="text"
                   data-bind="value:section2" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>
        <div class="k-edit-label"><label for="section2_comments">Section 2 Comments</label></div>
        <div data-container-for="section2_comments" class="k-edit-field">
            <textarea name="section2_comments" type="text" class="k-input k-textbox"
                      data-bind="value:section2_comments"></textarea>
        </div>
    </div>

    <!--12 to 3-->
    <div class="fitSection">
        <div class="k-edit-label"><label for="section12">3. Sewer</label></div>
        <div data-container-for="section12" class="k-edit-field">
            <input id="section12" name="section12" data-value-field="value" data-text-field="text"
                   data-bind="value:section12" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="section12_comments">Section 3 Comments</label></div>
        <div data-container-for="section12_comments" class="k-edit-field">
        <textarea name="section12_comments" type="text" class="k-input k-textbox"
                  data-bind="value:section12_comments"></textarea>
        </div>
    </div>

    <div class="fitSection">
        <div class="k-edit-label"><label for="section4">4. Interior Surfaces</label></div>
        <div data-container-for="section4" class="k-edit-field">
            <input id="section4" name="section4" data-value-field="value" data-text-field="text"
                   data-bind="value:section4" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>
        <div class="k-edit-label"><label for="section4_comments">Section 4 Comments</label></div>
        <div data-container-for="section4_comments" class="k-edit-field">
            <textarea name="section4_comments" type="text" class="k-input k-textbox"
                      data-bind="value:section4_comments" style="width:450px !important"></textarea>
        </div>
    </div>

    <!--15 to 5-->
    <div class="fitSection">
        <div class="k-edit-label"><label for="section15">5. Overall Cleanliness</label></div>
        <div data-container-for="section15" class="k-edit-field">
            <input id="section15" name="section15" data-value-field="value" data-text-field="text"
                   data-bind="value:section15" data-role="dropdownlist"
                   data-source="[
                        {text: 'N/A', value: 0},
                        {text: 'D', value: 2},
                        {text: 'X', value: 1},
                        {text: 'ND', value: 3}
                        ]"/>
        </div>
        <div class="k-edit-label"><label for="section15_comments">Section 5 Comments</label></div>
        <div data-container-for="section15_comments" class="k-edit-field">
            <textarea name="section15_comments" type="text" class="k-input k-textbox"
                      data-bind="value:section15_comments"></textarea>
        </div>
    </div>

    <!--9 to 6-->
    <div class="fitSection">
        <div class="k-edit-label"><label for="section9">6. Pest/Vermin Infestation</label></div>
        <div data-container-for="section9" class="k-edit-field">
            <input id="section9" name="section9" data-value-field="value" data-text-field="text"
                   data-bind="value:section9" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>
        <div class="k-edit-label"><label for="section9_comments">Section 6 Comments</label></div>
        <div data-container-for="section9_comments" class="k-edit-field">
            <textarea name="section9_comments" type="text" class="k-input k-textbox"
                      data-bind="value:section9_comments"></textarea>
        </div>
    </div>

    <!--8 to 7-->
    <div class="fitSection">
        <div class="k-edit-label"><label for="section8">7. Electrical</label></div>
        <div data-container-for="section8" class="k-edit-field">
            <input id="section8" name="section8" data-value-field="value" data-text-field="text"
                   data-bind="value:section8" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>
        <div class="k-edit-label"><label for="section8_comments">Section 7 Comments</label></div>
        <div data-container-for="section8_comments" class="k-edit-field">
            <textarea name="section8_comments" type="text" class="k-input k-textbox"
                      data-bind="value:section8_comments"></textarea>
        </div>
    </div>

    <!--11 to 8-->
    <div class="fitSection">
        <div class="k-edit-label"><label for="section11">8. Restrooms</label></div>
        <div data-container-for="section11" class="k-edit-field">
            <input id="section11" name="section11" data-value-field="value" data-text-field="text"
                   data-bind="value:section11" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="section11_comments">Section 8 Comments</label></div>
        <div data-container-for="section11_comments" class="k-edit-field">
        <textarea name="section11_comments" type="text" class="k-input k-textbox"
                  data-bind="value:section11_comments"></textarea>
        </div>
    </div>

    <!--10 to 9-->
    <div class="fitSection">
        <div class="k-edit-label"><label for="section10">9. Drinking Fountains</label></div>
        <div data-container-for="section10" class="k-edit-field">
            <input id="section10" name="section10" data-value-field="value" data-text-field="text"
                   data-bind="value:section10" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="section10_comments">Section 9 Comments</label></div>
        <div data-container-for="section10_comments" class="k-edit-field">
            <textarea name="section10_comments" type="text" class="k-input k-textbox"
                      data-bind="value:section10_comments"></textarea>
        </div>
    </div>

    <!--7 to 10-->
    <div class="fitSection">
        <div class="k-edit-label"><label for="section7">10. Fire Safety</label></div>
        <div data-container-for="section7" class="k-edit-field">
            <input id="section7" name="section7" data-value-field="value" data-text-field="text"
                   data-bind="value:section7" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>
        <div class="k-edit-label"><label for="section7_comments">Section 10 Comments</label></div>
        <div data-container-for="section7_comments" class="k-edit-field">
            <textarea name="section7_comments" type="text" class="k-input k-textbox"
                      data-bind="value:section7_comments"></textarea>
        </div>
    </div>

    <!--5 to 11-->
    <div class="fitSection">
        <div class="k-edit-label"><label for="section5">11. Hazardous Materials</label></div>
        <div data-container-for="section5" class="k-edit-field">
            <input id="section5" name="section5" data-value-field="value" data-text-field="text"
                   data-bind="value:section5" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="section5_comments">Section 11 Comments</label></div>
        <div data-container-for="section5_comments" class="k-edit-field">
            <textarea name="section5_comments" type="text" class="k-input k-textbox"
                      data-bind="value:section5_comments" ></textarea>
        </div>
    </div>

    <!--6 to 12-->
    <div class="fitSection">
        <div class="k-edit-label"><label for="section6">12. Structural Damage</label></div>
        <div data-container-for="section6" class="k-edit-field">
            <input id="section6" name="section6" data-value-field="value" data-text-field="text"
                   data-bind="value:section6" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="section6_comments">Section 12 Comments</label></div>
        <div data-container-for="section6_comments" class="k-edit-field">
            <textarea name="section6_comments" type="text" class="k-input k-textbox"
                      data-bind="value:section6_comments"></textarea>
        </div>
    </div>

    <div class="fitSection">
        <div class="k-edit-label"><label for="section13">13. Roofs</label></div>
        <div data-container-for="section13" class="k-edit-field">
            <input id="section13" name="section13" data-value-field="value" data-text-field="text"
                   data-bind="value:section13" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="section13_comments">Section 13 Comments</label></div>
        <div data-container-for="section13_comments" class="k-edit-field">
        <textarea name="section13_comments" type="text" class="k-input k-textbox"
                  data-bind="value:section13_comments"></textarea>
        </div>
    </div>

    <div class="fitSection">
        <div class="k-edit-label"><label for="section1">14. Playground/School Grounds</label></div>
        <div data-container-for="section14" class="k-edit-field">
            <input id="section14" name="section14" data-value-field="value" data-text-field="text"
                   data-bind="value:section14" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="section14_comments">Section 14 Comments</label></div>
        <div data-container-for="section14_comments" class="k-edit-field">
        <textarea name="section14_comments" type="text" class="k-input k-textbox"
                  data-bind="value:section14_comments"></textarea>
        </div>
    </div>

    <!--3 to 15-->
    <div class="fitSection">
        <div class="k-edit-label"><label for="section3">15. Windows, Doors, Gates, Fences</label></div>
        <div data-container-for="section3" class="k-edit-field">
            <input id="section3" name="section3" data-value-field="value" data-text-field="text"
                   data-bind="value:section3" data-role="dropdownlist"
                   data-source="[
                    {text: 'N/A', value: 0},
                    {text: 'D', value: 2},
                    {text: 'X', value: 1},
                    {text: 'ND', value: 3}
                    ]"/>
        </div>

        <div class="k-edit-label"><label for="section3_comments">Section 15 Comments</label></div>
        <div data-container-for="section3_comments" class="k-edit-field">
            <textarea name="section3_comments" type="text" class="k-input k-textbox"
                      data-bind="value:section3_comments"></textarea>
        </div>
    </div>

</div>

<div class="row m-sm">
    <div id="WarningButton" class="alert-warning " role="alert" style="display: block; float:inherit;"></div>
</div>


<script type="text/javascript">
    function createAutoClosingAlert(selector, html) {
        console.log('editDeficiencyPopup:js:createAutoClosingAlert:' + html);
        console.log('Alert already open? ' + $('.alert').length);
        if ($('.alert').length == 0) {
            $(selector).html(html);
            $(selector).css("opacity", 1);
            $(selector).css("display", "block");
            var alert = $(selector).addClass("alert");
            window.setTimeout(function () {
                alert.fadeTo(500, 0).slideUp(500, function () {
                    alert.html("");
                    alert.removeClass("alert");
                });
            }, 50000);
        }
    }
</script>
<script>
    $(document).ready(function () {

        console.log('editDeficiencyPopup:js');

        $('input').change(function (e) {

            var value = this.value;
            var id = parseInt(this.id.replace("section",""),0);

            console.log('editDeficiencyPopup:js:change:value:' + value);
            console.log('editDeficiencyPopup:js:change:id:' + id);

            createAutoClosingAlert($("#WarningButton"), "<strong>Warning.</strong>  If necessary, modify the associated section comments.");

//            if (value === "0" || value === "3") {
//                var html = $('.fitSection textarea')[id-1].html;
//                console.log('editDeficiencyPopup:js:change:text area html:' + html);
//            }

        });


    });
</script>



