<div style="height: 100%">
    <div id="schoolCollectionViewLoading"></div>
    <div class="panel panel-default" style="height: calc(33% - 4px); margin-bottom: 4px">

        <div class="panel-heading" style="height: 35px !important;">
            <h3 id="schoolsLabel" class="panel-title" style="padding-top: 4px; padding-left: 5px;">School Locations</h3>
        </div>
        <div class="panel-body" style="height: 100%">

            <div id="school-list" style="width: 100%; height: calc(100% - 39px); position: relative; overflow: auto;">

            </div>
        </div>

    </div>
    <div class="panel panel-default" style="height: calc(33% - 4px); margin-bottom: 4px">

        <div class="panel-heading" style="height: 35px !important;">
            <h3 id="buildingsLabel" class="panel-title" style="padding-top: 4px; padding-left: 5px;">Buildings</h3>
        </div>
        <div class="panel-body" style="height: 100%">
            <!--<div id="buildingCollectionViewLoading"></div>-->
            <div id="building-list"
                 style="width: 100%; height: calc(100% - 39px); position: relative; overflow: auto;">
            </div>
        </div>
    </div>
    <div class="panel panel-default project-details-filter-panel-btm" style="height: 33%">

        <div class="panel-heading" style="height: 35px !important;">
            <h3 id="roomsLabel" class="panel-title" style=" padding-top: 4px; padding-left: 5px;">Rooms</h3>
        </div>
        <div class="panel-body" style="height: 100%">
            <!--<div id="roomCollectionViewLoading"></div>-->
            <div id="room-list" style="width: 100%; height: calc(100% - 39px); position: relative; overflow: auto;">
            </div>
        </div>
    </div>
</div>


