<!--<div id="wit-region-1" style="height: 100%;"></div>-->
<!--<div class="wit-grid-container" style="height: 100%; width: 100%;">-->
    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs" style="height:100%;">-->
        <!--<div class="panel panel-default" style="height:100%;">-->
            <!--<div class="panel-heading" style="height: 35px !important;">-->
                <!--<h3 id="fieldTitle" class="panel-title" style="padding-top: 4px; padding-left: 5px;">Permittee Name/Number</h3>-->
            <!--</div>-->
            <div class="panel-body" style="height: calc(100% - 35px) !important; padding: 0px !important;">
                <div class="row" style="margin: 0 0 0px 0px; width: 100%; height: 100%">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-xs" style="height: 100%;">
                        <!--<div class="row m-sm" style="height: 35px">If you have wells on your farm, fill out the table-->
                            <!--with information on each well.-->
                            <!--If you don’t-->
                            <!--know the information, mark as “UNK” (unknown) and if the information is not applicable mark-->
                            <!--as “NA”.-->

                        <!--</div>-->
                        <div class="row m-sm" id="field-table-region-1" style="height: calc(100% - 35px);"></div>
                    </div>
                </div>
                <!--<div class="row m-sm" style="padding-top: 25px;height:35px">-->
                    <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height: 35px;text-align: right;">-->
                        <!--<div id="SaveButton" class="btn btn-primary left" title="Save">-->
                            <!--&nbsp;Save-->
                        <!--</div>-->
                        <!--<div id="NextButton" class="btn btn-default right" title="Next">-->
                            <!--&nbsp;Next Tab-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
