<div id="error-region" style="position: absolute; width: 100%; height: 100%">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="app-title" style="color: #808080">Progress Adviser FIT Selector</div>
                <img class="app-image" src="./images/paLogo-330.jpg"/>
                <div style="text-align: center">
                    <i class="fa fa-exclamation-triangle fa-2x" style="color: darkgray"></i>
                    <span id="errorText" >This functionality does not yet exist.</span>
                </div>
            </div>
        </div>
    </div>
</div>