<div class="navbar navbar-default navbar-fixed-top clr-bkgrnd-default-alpha" role="navigation">
    <div class="banner" style="width: 100%; height: 78px; background-color: #073A4B;">
        <img class="banner-inner" src="./images/paLogo-330.jpg" style="position:absolute; top: 0; right: 0;"/>
        <div class="banner-inner" style="position: relative; top:0; left: 0;">
            <!--<img src="./images/sdu-4.gif"/>-->
            <img src="./images/paLogo-330.jpg"/>
            <span class="panel-title" style="color:white !important;font-size: 24px;margin-left: 30px;">Progress Adviser FIT Selector</span>
        </div>
    </div>
    <div class="nav-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
   <div id="toggleBannerButton" class="pull-right btn-interaction" title="Collapse Header"
         style="width: 24px; ;margin: -25px 20px 0px 10px; color: #ffffff"><i class="fa fa-chevron-circle-up"
                                                                              style="margin-left: 10px"></i></div>
    <div id="toggleFullScreenButton" class="pull-right btn-interaction" title="Enter Full Screen Mode"
         style="margin: -25px 45px 0px 10px; color: #ffffff"><i class="fa fa-expand"></i></div>
</div>