<div style="height: 100%; width: 100%;">
    <div class="home-container row m-none">
        <div class="row m-none" style="width: 100%; height: 100%;min-width:520px">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 p-xs" style="height: 100%; overflow:auto">
                <div class="row container-padded-home2">
                    <div class="panel panel-default" style="margin-bottom: 15px !important">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title" style="margin-top:5px"> Background Information
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="row m-sm">
                              xxx

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" style="margin-bottom: 15px !important">
                        <div class="panel-heading" role="tab" id="headingFour">

                            <h4 class="panel-title" style="margin-top:5px">  <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                                                href="#collapseFour"
                                                                                aria-expanded="false" aria-controls="collapseFour">
                               Test
                            </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingFour">
                            <div class="panel-body">
                                <div class="row m-sm" style="text-align: center;">
                                    <span>XXX:&nbsp;&nbsp;</span>
                                    <input type="text" class="k-input k-textbox" id="districtNumber" name="districtNumber"
                                           required="required">
                                    &nbsp;&nbsp;
                                    <div id="StartButton" class="btn btn-primary" title="Start">
                                        &nbsp;Start
                                    </div>
                                </div>
                                <div class="row m-sm">
                                    <div id="startWarning" class="alert-warning " role="alert"
                                         style="display: block; float:inherit;"></div>
                                    <div id="startSuccess" class="alert-success " role="alert"
                                         style="display: block; float:inherit;"></div>
                                    <div id="startError" class="alert-danger " role="alert"
                                         style="display: block; float:inherit;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" style="margin-bottom: 15px !important">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title" style="margin-top:5px"> Overview
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div class="row m-sm">
                               xxx
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-xs" style="height: 100%; overflow: visible">
                <div class="row container-padded-home2" style="height: 100%">
                    <div class="panel panel-default" style="height: 275px">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title" style="margin-top:5px">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                href="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Downloads
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="row m-sm">
                               xxx
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row m-sm bottom-row" style="height: calc(100% - 275px)">
                        <img class="app-image" src="./images/paLogo-330.jpg" width="250px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>