<div style="height: 100%; width: 100%;">
    <div class="home-container row m-none">
        <!--<h3 style="text-align: center">Rice WDR Farm Evaluation</h3>-->
        <div class="row m-none" style="width: 100%; height: 100%;min-width:520px">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 p-xs" style="height: 100%; overflow:auto">
                <div class="row container-padded-home2">
                    <div class="panel panel-default" style="height: 570px;margin-bottom: 15px !important">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title" style="margin-top:5px"> Site Closed
                            </h4>
                        </div>
                        <!--<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">-->
                        <div class="panel-body">
                            <div class="row m-sm">
                                The Farm Evaluation site is closed for the 2014 reporting. The site will re-open in December for 2015 reporting.
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 p-xs" style="height: 100%; overflow: visible">
                <!--background-color: white;-->
                <div class="row container-padded-home2" style="height: 100%">
                    <div class="panel panel-default" style="height: 275px">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title" style="margin-top:5px">Downloads and Links
                                <!--<a class="collapsed" data-toggle="collapse" data-parent="#accordion"-->
                                <!--href="#collapseThree"-->
                                <!--aria-expanded="false" aria-controls="collapseThree">-->
                                <!--Downloads-->
                                <!--</a>-->
                            </h4>
                        </div>
                        <!--<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">-->
                        <div class="panel-body">
                            <div class="row m-sm">

                                <!--Farm Evaluation Web-based Template Instructions-->
                                <!--(need to keep the document on the server and link to it – need to be able to replace it as needed if updates occur)-->

                                <!--Regional Board Farm Evaluation Template Letter-->
                                <!--Will provide link later this week-->

                                <ul>
                                    <li>
                                        <!--<a target="_blank" href="_blank" onclick="window.open('http://www.calricenews.org/waste-discharge-requirements/')">California Rice News WDR page</a>-->
                                        <a href="http://www.calricenews.org/waste-discharge-requirements/">California
                                            Rice News WDR page</a>

                                    </li>
                                    <li>
                                        <a href="http://www.waterboards.ca.gov/centralvalley/board_decisions/adopted_orders/general_orders/r5-2014-0032.pdf"
                                           title="Rice WDR Order" download=RiceWDROrder.pdf">Rice WDR Order</a>
                                        <!--<a onclick="window.open('http://www.waterboards.ca.gov/centralvalley/board_decisions/adopted_orders/general_orders/r5-2014-0032.pdf')">Rice WDR Order</a></li>-->
                                    <li>
                                        <a href="./docs/Rice WDR Farm Evaluation Template Website Instructions_2-9_2015_Final.pdf"
                                           title="Rice WDR Farm Evaluation Template Website Instructions"
                                           download="RiceWDRFarmEvaluationTemplateWebsiteInstructions.pdf">Farm
                                            Evaluation Web-based Template Instructions</a>
                                    </li>
                                    <!--<li><a>Regional Board Farm Evaluation Template Letter</a></li>-->
                                </ul>
                            </div>
                        </div>
                        <!--</div>-->
                    </div>
                    <div class="row m-sm bottom-row" style="height: calc(100% - 275px)">
                        <img class="app-image" src="./css/images/crc-logo.jpg" width="250px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>