<div id="error-region" style="position: absolute; width: 100%; height: 100%">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--<div class="app-title" style="color: #808080">CRC Farm Evaluation</div>-->

                <div style="text-align: center">
                    <i class="fa fa-exclamation-triangle fa-2x" style="color: darkgray"></i>
                    <span id="errorText" >Sample error text.</span>
                </div>
                <div class="aside-message" style="text-align: center !important"> <img class="app-msg-image" src="./css/images/crc-logo.jpg"/>
                    (Click anywhere to dismiss)</div>
            </div>
        </div>
    </div>
</div>