<div style="height: 100%; width: 100%">
    <div class="panel panel-default" style="height:100%;margin-top:2px">
        <div class="panel-heading" style="height: 35px !important;">
            <!--<h3 id="suTitle" class="panel-title" style="padding-top: 4px; padding-left: 5px;">Permittee Name/Number</h3>-->
        </div>
        <div class="panel-body" style="height: calc(100% - 70px) !important; padding: 0px !important;">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" style="min-width: 250px;">
                <div class="row m-sm">
                    <h3>Overview
                         <span id="qFE" class="panel-info-text btn-interaction">
                            <div style="margin-top: -2px;"><i style="font-size: 18px" class="fa fa-question-circle"></i>
                            </div>
                         </span>
                    </h3>
                    <div class="row m-sm">
                       Overview Text
                    </div>
                </div>
                <!--<div class="row m-sm">-->

                    <!--<div id="LAButton" class="btn btn-danger intro-review " title="Landowner Rice WDR Acknowledgement">-->
                        <!--&nbsp;-->
                    <!--</div>-->
                    <!--<span>Landowner Rice WDR Acknowledgement</span>-->
                <!--</div>-->
                <div class="row m-sm">
                    <div id="schoolButton" class="btn btn-danger intro-review " title="School Locations">
                        &nbsp;
                    </div>
                    <span>School Locations</span>
                </div>
                <div class="row m-sm">
                    <div id="buildingButton" class="btn btn-danger intro-review " title="Buildings">
                        &nbsp;
                    </div>
                    <span>Buildings</span>
                </div>
                <div class="row m-xs">
                    <div id="WarningButton" class="alert-warning " role="alert"
                         style="display: block; float:inherit;"></div>
                    <div id="SuccessButton" class="alert-success " role="alert"
                         style="display: block; float:inherit;"></div>
                    <div id="ErrorButton" class="alert-danger " role="alert"
                         style="display: block; float:inherit;"></div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: right;padding-right: 10px;">
            <!--<div id="SaveButton" class="btn btn-primary" title="Save" style="margin-top: -5px;margin-right: 5px;">-->
            <!--&nbsp;Save-->
            <!--</div>-->
            <div id="NextButton" class="btn btn-default" title="Next" style="margin-top: -5px;margin-right: 5px;">
                &nbsp;Next Tab
            </div>
        </div>
    </div>

</div>
