<div id="error-region" style="position: absolute; width: 100%; height: 100%">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <div class="app-title" style="color: #808080">CRC Farm Evaluation</div>

                <div style="text-align: justify">
                    <!--<i class="fa fa-exclamation-triangle fa-2x" style="color: darkgray"></i>-->
                    <span id="errorText" >Sample error text.</span>
                    <!--<img class="app-msg-image" src="./css/images/crc-logo.jpg"/>-->
                </div>
                <div class="modal-footer">
                    <button id="AcknowledgeInstructions" type="button" class="btn btn-default btn-block" data-dismiss="modal">I have read the instructions</button>
                </div>
            </div>
        </div>
    </div>
</div>