<div class="navbar navbar-default navbar-fixed-top clr-bkgrnd-default-alpha" role="navigation">
    <div class="banner" style="width: 100%; height: 78px; background-color: #073A4B;">
        <img class="banner-inner" src="images/calrice-header-2.png" style="position:absolute; top: 0; right: 0;"/>
        <div class="banner-inner" style="position: relative; top:0; left: 0;">
            <img  src="images/calrice-logo-2.png" />
        </div>
    </div>
    <div class="nav-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="main-menu" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="nav-dashboard" class="hasSubmenu"><a href="#">Main</a></li>
                <li id="nav-farm-eval"><a href="#district">Evaluation</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
    <div id="toggleBannerButton" class="pull-left btn-interaction" title="Collapse Header" style="margin: -25px 10px 0px 10px; color: #ffffff"><i class="fa fa-chevron-circle-up"></i></div>
</div>