<nav class="navbar navbar-default navbar-fixed-bottom navbar-flat" role="navigation" style="height: 33px; min-height: 33px;">
    <div id="breadcrumb-region">
    </div>
    <div class="navbar-container-bottom">
        <p class="text-muted" style="width: 100%; height: 100%; text-align: right; vertical-align: middle; padding-right: 7px; padding-top: 9px; color: #ffffff; font-size: 10px">CRC Web Appplication</p>
    </div>
</nav>