<div style="height: 100%; width: 100%">
    <div class="row project-details-layout-container m-none" style="height: 100%">
        <div id="facilities-filtered-layout" class="col-md-4 col-lg-4 p-xs" style="height: 100%"></div>
        <div id="facilities-filtered-list-layout" class="col-md-8 col-lg-8 p-xs" style="height: 100%"></div>
    </div>
    <div class="row" style="text-align: right;padding-right: 2px;">
        <div id="FitButton" class="btn btn-primary" title="Next" style="margin-top: -5px;margin-right: 5px;">
            &nbsp;FIT Walk Thru
    </div>
</div>

