<div style="height: 100%;">

</div>
<!--<div id="schoolCollectionViewLoading"></div>-->
<!--<div id="fieldCollectionButtons" class="field-button-row">-->
    <!--<span id="qFieldCollection" class="panel-info-text btn-interaction" style="margin-left: -28px;margin-top: 7px;">-->
         <!--<div><i style="font-size: 18px" class="fa fa-question-circle"></i></div>-->
     <!--</span>-->
    <!--<div id="selectAllButton" class="btn btn-primary " title="Select All">Select All</div>-->
    <!--<div id="clearAllButton" class="btn btn-default " title="Clear All">Clear All</div>-->
<!--</div>-->
