<div style="height: 100%; width: 100%">
    <!--<div class="row m-none" style="height: calc(100% - 40px); width: 100%;padding-top: 20px;padding-left: 20px">-->
        <!-- Chart -->
        <!--<div style="position: absolute; height: 100%; width: 100%; top: 0; ">-->
            <!--padding: 0 10px 0 10px;-->
            <div id="projectMap" style="height:100%; width: 100%;"></div>
        <!--</div>-->
    <!--</div>-->
    <!--<div class="row" style="text-align: right;padding-right: 10px;margin-top: 20px;">-->
        <!--<div id="SaveButton" class="btn btn-primary left" title="Save"  style="margin-top: -5px;margin-right: 5px;">-->
            <!--&nbsp;Select-->
        <!--</div>-->
        <!--&lt;!&ndash;<div id="SaveSelectedButton" class="btn btn-primary left" title="SaveSelected"  style="margin-top: -5px;margin-right: 5px;">&ndash;&gt;-->
            <!--&lt;!&ndash;&nbsp;Save All Selected Fields&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div id="NextButton" class="btn btn-default right" title="Next"  style="margin-top: -5px;margin-right: 5px;">-->
            <!--&nbsp;Next Tab-->
        <!--</div>-->
    <!--</div>-->
</div>