<div style="height: 100%">
    <div id="top-right-panel" class="panel panel-default" style="height: calc(50% - 4px);margin-bottom: 4px">
        <div class="panel-heading" style="height: 35px !important;">
            <h3 id="schoolLabel" class="panel-title" style="padding-top: 4px; padding-left: 5px;">Current School: None</h3>
        </div>
        <div id="top-right-panel-body" class="panel-body" style="height: 100%">
            <div class="row m-none" style="width: 100%; height: calc(100% - 35px); position: relative;">
                <div id="facilities-tab-content-region" class="tab-content" style="display: none; height:100%;"></div>
            </div>
        </div>
    </div>
    <div id="bottom-right-panel" class="panel panel-default project-details-filter-panel-btm" style="height: calc(50% - 7px); ">
        <div class="panel-heading" style="height: 35px !important;">
            <h3 id="buildingLabel" class="panel-title" style="padding-top: 4px; padding-left: 5px;display:inline-block ">Current Building: None</h3>
            <h3 id="roomLabel" class="panel-title" style="padding-top: 4px;display:inline-block">, Current Room: None</h3>
        </div>
        <div id="bottom-right-panel-body" class="panel-body" style="height: calc(100% - 39px);display: none">
            <div class="row m-none" style="width: 100%; height: 100%; position: relative;">
                <!--<div id="field-tab-content-region2" class="tab-content" style="display: none; height:100%;"></div>-->
                <img class="app-image2" src="./images/sdu-morse-hs.png" />
            </div>
        </div>
    </div>
</div>